# APP
NODE_ENV=development

# Database
POSTGRES_DB=inventoryAPI
POSTGRES_PASSWORD=SecuredPassword
POSTGRES_HOST=db
POSTGRES_USER=postgres
DB_NAME=inventoryAPI

# RabbitMQ
AMQP_URL=

# SendGrid
SENDGRID_API_KEY=
DEFAULT_MAIL_SENDER=

# Default Admin User
DEFAULT_USER_PASSWORD=
DEFAULT_USER_EMAIL=
DEFAULT_USER_LAST_NAME=
DEFAULT_USER_FIRST_NAME=

# Cloudinary
CLOUDINARY_URL=